pkgbase = mdexsync
	pkgdesc = MangaDex download and synchronization tool.
	pkgver = 1.0
	pkgrel = 1
	url = https://github.com/stevenbenner/mdexsync
	arch = any
	license = Apache
	depends = bc
	depends = curl
	depends = diffutils
	depends = jq
	source = mdexsync-1.0.tar.gz::https://github.com/stevenbenner/mdexsync/archive/refs/tags/v1.0.tar.gz
	b2sums = 8260884c890ebcb7bc0398712056e2ff0bfed94d8b8adeee82c558d38392c949f8bb1055b4dbd078444feea934c4626a03e8d9dc137ca410a1b5dfa5aba3ae68

pkgname = mdexsync
