pkgbase = mdexsync
	pkgdesc = MangaDex download and synchronization tool.
	pkgver = 1.1
	pkgrel = 1
	url = https://github.com/stevenbenner/mdexsync
	arch = any
	license = Apache
	depends = curl
	depends = diffutils
	depends = jq
	source = mdexsync-1.1.tar.gz::https://github.com/stevenbenner/mdexsync/archive/refs/tags/v1.1.tar.gz
	b2sums = 69a42269b2fe75012177c058f1c5a7c6bd949669e1f09d08a947ea4882c024e0d57e20200aa9fa189fa476dca903f851cc5be7aadd59ee1ebfd04d71ecc831aa

pkgname = mdexsync
